.navbar-container{
    display: flex;
    padding: 1rem 0.5rem;
    justify-content: flex-end;
    background-color: rgb(5, 69, 158);
    align-items: center;
}
.user-logout{
    font-weight: 600;
    display: flex;
    align-items: center;
    text-justify: auto;
    flex-direction: row;
    margin-right: 20px;
}
.navbar-home{
    color:rgb(255, 255, 255);
}
.navbar-login {
    font-weight: 600;
    color:white;
    margin-right: 20px;
}
.navbar-register{
    color: rgb(5 69 158);
    background-color: rgb(208 242 255);
    border-radius: 6px;
    font-weight: 600;
    padding: 5px 15px;
}
.navbar-user{
    color: rgb(210 245 255);
    font-weight: 600;
}
.navbar-logout {
    text-decoration: none;
    color: rgb(5 69 158);
    padding: 5px 15px;
    margin-left: 20px;
    background: #d6e6ff;
    border-radius: 8px;
    font-weight: 600;
}

button{
    margin: auto;
    cursor: pointer;
    border: none;
    align-self: center;
    font-weight: 600;
    font-size: 18px;
    padding: 0.65rem;
    background: #05459e;
    color: white;
}